*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.name {
  font-size: 5rem;
  color: white;
}

.flag,
.description {
  font-size: 3rem;
}

.description {
  font-weight: 200;
}

.temp {
  float: right;
  font-size: 8rem;
  font-weight: 200;
  color: white;
}

.container {
  margin-top: 40px;
  padding: 20px;
  background: rgba(112, 106, 106, 0.3);
  height: 400px;
  width: 640px;
  border-radius: 25px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

body {
  background-size: cover;
}
